<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Responsive bootstrap landing template">
        <meta name="author" content="Themeswale">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>Ablogia - Responsive Blog Theme</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Owl Carousel CSS -->
        <link href="css/owl-carousel.css" rel="stylesheet">

        <!-- Icon CSS -->
        <link href="css/materialdesignicons.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">

    </head>


    <body>


        <div class="logo-box">
            <a href="#">
                <img src="images/logo.png" alt="logo" height="64">
            </a>
        </div>

        <!-- Navigation Bar-->
        <header id="topnav">

            <div class="container">
                <a href="#" class="logo-mobile">
                            <img src="images/logo.png" alt="logo">
                        </a>
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">

                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">

                        <li>
                            <a href="index.html">Home</a>
                        </li>

                        <li class="has-submenu">
                            <a href="#">Features</a>
                            <span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li>
                                    <a href="standard-post.html">Standard Post</a>
                                </li>
                                <li>
                                    <a href="video-post.html">Video Post</a>
                                </li>
                                <li>
                                    <a href="audio-post.html">Audio Post</a>
                                </li>
                                <li>
                                    <a href="gallery-post.html">Gallery Post</a>
                                </li>
                                <li>
                                    <a href="quote-post.html">Quote Post</a>
                                </li>
                                <li>
                                    <a href="link-post.html">Link Post</a>
                                </li>
                                <li>
                                    <a href="404.html">Error 404</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);">Lifestyle</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Travel</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Music</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="toggle-search" data-target="#search-wrap"><i class="mdi mdi-magnify noti-icon"></i></a>
                        </li>
                    </ul>
                    <!-- End navigation menu-->
                </div>
            </div>
        </header>
        <!-- End Navigation Bar-->


        <!-- Search input -->
        <div class="search-wrap" id="search-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="search-bar">
                            <form>
                                <input class="search-input" type="search" placeholder="Search" />
                            </form>
                            <a href="javascript:void(0);" class="close-search toggle-search" data-target="#search-wrap">
                                <i class="mdi mdi-close-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="section">
            <div class="container">

                <div class="row justify-content-center">
                        <!-- Content-->
                        <div class="col-8">

                            <!-- Post-->
                            <article class="post">
                                <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Get In Touch</b></h5>

                                <p class="text-center">Duis mollis eget augue et lobortis. Nam nunc justo, aliquet sed condimentum vel, faucibus in dolor. Proin eleifend hendrerit rhoncus.</p>

                                <form action="#" method="post" class="mt-4">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input id="author" class="form-control" placeholder="Name*" name="author" type="text" required="">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input id="email" class="form-control" placeholder="Email*" name="email" type="text" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input id="subject" class="form-control" placeholder="Subject" name="subject" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea id="comment" class="form-control" rows="5" placeholder="Your Message*" name="comment" required=""></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group text-right">
                                                <button name="submit" type="submit" id="submit" class="btn btn-dark">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </article>
                            <!-- Post end-->

                            
                            
                        </div>
                        <!-- Content end-->


                        
                    </div>

            </div> <!-- end container -->
        </section>


        <footer>
            <!-- instagram -->
            <div class="instagram-footer">
                <ul class="instagram-footer">
                    <li><a href="#"><img src="images/instagram/1.jpg" alt=""> </a></li>
                    <li><a href="#"><img src="images/instagram/2.jpg" alt=""> </a></li>
                    <li><a href="#"><img src="images/instagram/3.jpg" alt=""> </a></li>
                    <li><a href="#"><img src="images/instagram/4.jpg" alt=""> </a></li>
                    <li><a href="#"><img src="images/instagram/5.jpg" alt=""> </a></li>
                    <li><a href="#"><img src="images/instagram/6.jpg" alt=""> </a></li>
                </ul>       
            </div>
            <!-- end instagram -->

            <!-- copy-wrapper -->
            <div class="copy-wrapper">
                <div class="container">
                    <p class="copyright">©2017. Themeswale - All Rights Reserved.</p>
                    <ul class="socials right-socials">
                        <li><a href="http://facebook.com"><i class="mdi mdi-facebook"></i></a></li>
                        <li><a href="http://twitter.com"><i class="mdi mdi-twitter"></i></a></li>
                        <li><a href="http://instagram.com"><i class="mdi mdi-instagram"></i></a></li>
                        <li><a href="http://pinterest.com"><i class="mdi mdi-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end copy-wrapper -->
        </footer>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <!--common script for all pages-->
        <script src="js/jquery.app.js"></script>

    </body>
</html>