@model TrainBlog.Models.ForgotPasswordViewModel

<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Forgot Password</b></h5>
					<p class="text-center">Enter your email address to reset your password.</p>
					@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary("", new { @class = "text-danger" })
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="form-group">
									<input type="submit" class="btn btn-dark" value="Email Link" />
								</div>
							</div>
						</div>
					}
				</article>
			</div>
		</div>
	</div>
</section>
