<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Email Sent</b></h5>
					<div class="blog-detail-description text-center">
						<p>Please check your email to reset your password.</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
