<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="post">
                    <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>About Me</b></h5>
                    <div class="post-preview text-center">
                        <img src="~/Images/aboutme.jpg" alt="" class="img-fluid rounded">
                    </div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-10">
							<div class="blog-detail-description">
								<h6>Hi, I'm Hunter!</h6>
								<p>I am a web developer by profession and a photographer, railfan, skier, and caver recreationally. Originally from Richmond, VA, I grew up in High Point, NC before moving out to Colorado for a couple of years during my mid-twenties. I have since moved back to NC, but the West will always have a special place in my heart.</p>
								<p>My love of trains first developed in Virginia. My family's house there was just a couple of blocks from what used to be the Richmond, Fredricksburg, & Potomac main line, and I've been watching trains ever since. I learned photography at Randolph Community College in Asheboro, NC, and I continue to put that knowledge to good use when railfanning.</p>
								<p>After graduating from RCC in 2014, I moved to Colorado for a photography job which had me photographing homes that were to be listed for sale or for rent. I returned to NC at the end of 2017 and in September 2019, I finished a .NET programming course at Coder Foundry in nearby Kernersville.</p>
								<p>I am looking forward to what my future as a developer holds and cannot wait to hit the slopes in Colorado once again!</p>
							</div>
						</div>
						<div class="col-1"></div>
					</div>
                </article>
            </div>
        </div>
    </div>
</section>