<section class="section">
    <div class="container">

        <div class="row">
            <!-- Content-->
            <div class="col-12">

                <!-- Post-->
                <article class="post">

                    <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>About Me</b></h5>
                    <div class="post-preview">
                        <img src="~/Images/aboutme.jpg" alt="" class="img-fluid rounded">
                    </div>

                    <div class="blog-detail-description">
                        <p>I am a web developer by profession and a photographer, railfan, and caver recreationally. Originally from Richmond, VA, I grew up in High Point, NC before moving out to Colorado for a couple of years during my mid-twenties. I have since moved back to NC, but the West will always have a special place in my heart.</p>

                        <p>My love of trains first developed in Virginia. My family's house there was just a couple of blocks from what used to be the Richmond, Fredricksburg, & Potomac main line, and I've been watching trains ever since. I learned photography at Randolph Community College in Asheboro, NC, and I continue to put that knowledge to good use when railfanning.</p>

                        @*<blockquote class="blockquote text-center">
                            <h6 class="mb-0 blockquote-text">Praesent consectetur vel dui sed molestie. Aliquam imperdiet cursus dapibus. Quisque vestibulum blandit tellus, nec volutpat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h6>
                            <footer class="blockquote-footer mt-2">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>*@
                    </div>

                </article>
                <!-- Post end-->

            </div>
            <!-- Content end-->
        </div>

    </div> <!-- end container -->
</section>