@model TrainBlog.Models.About

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>About Me</b></h5>
					<div class="post-preview text-center">
						<img src="@Model.ImageUrl" alt="" class="img-fluid rounded">
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-10">
							<div class="blog-detail-description">
								@Html.Raw(Model.Text)
							</div>
						</div>
						<div class="col-1"></div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>