/* Custom Styles Created By Hunter */

.fileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custombtn {
    width: 180px !important;
}